<!DOCTYPE html>
<html>
  <head>
    <title>TasksMeetup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <span>Lista de tarefas - Meetup</span>
    </header>
    <div class="main">
      <%= yield %>
    </div>
  </body>
</html>
